<tr>
<td>	{{drink_name}} </td>

<td>	<button class="drink-up button is-danger is-rounded" data-id="{{id}}" data-drinkstate="{{sipped}}">
		{{#if sipped}}Drink Up! {{else}}Tasty{{/if}}
	</button></td>

</tr>
